// ==========================================================================
// Sticky Utility
//
// Used to fix something to the top of the screen
//
// @TODO
//  - 1. Add modifiers for sticky positions (top, bottom, left, right);
//  - 2. Add some kind of allowance for multiple instances of stickiness
//  - 3. Should use some kind of z-index helper
//  - 4. Docco this in Fractal?
// ==========================================================================

.is--sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
