// @todo masthead

.m-modal {
    // Modal is display none by default, it is shown by adding an `is--open` class as below
    display: none;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    align-items: center;
    background: rgba(255, 255, 255, 0.85);
    top: 0;

    // Block for mobile (we dont want vertical centering)
    &.is--open {
        display: block;

        // Flex for medium bp + (we  want vertical centering)
        @include respond-to(medium) {
            display: flex;
        }
    }
}

// The core styling of the actual 'modal' itself
.m-modal__inner {
    margin: 0 auto;
    position: relative;
    background: white;
    max-width: rem-calc(900);
    padding: spacing(base);
    padding: spacing(40 25);
    height: 100vh;
    max-height: calc(100vh);
    overflow-x: scroll;

    @include respond-to(medium) {
        // Medium + the modal becomes 'absolute' so we give it a box shadow to show depth
        box-shadow: 0 2px 65px 0 rgba(0, 0, 0, 0.22);
        padding: spacing(50 90);
        height: 100%;
        max-height: calc(90vh);
        border-radius: rem-calc(6);
    }

    @include respond-to(large) {
        padding: spacing(80 125);
        max-height: calc(85vh);
    }
}

// Position the close button top right
.m-modal__close {
    position: absolute;
    right: rem-calc(10);
    top: rem-calc(12);
}
