// ==========================================================================
// Meta Atom
// ==========================================================================

.meta {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: ms(-3);
    padding-bottom: spacing(double);
    letter-spacing: rem-calc(2);
    line-height: 1.44;
    // font-family: "HelveticaNeue-CondensedBold", Helvetica, Arial, sans-serif;

    // Color any element within the meta-title
    &,
    & > a {
        color: palette(grey-mid);
    }

    // Link styling within meta-title
    > a {
        @include link() {
            color: palette(grey-mid);
            text-decoration: none;
        }
        @include link-hover() {
            color: palette(black);
            text-decoration: underline;
        }
    }
}

.meta--block {
    display: block;
}

// 'Highlight' modifier, essentially a more prominant meta, can often paired with standard 'meta' for nice headings etc
.meta--highlight {
    &,
    & > a {
        color: tint(palette(primary), "darken");
    }

    > a {
        @include link() {
            color: tint(palette(primary), "darken");
        }
        @include link-hover() {
            color: tint(palette(primary), "darken");
        }
    }
}
