// ==========================================================================
// Meta Atom
// ==========================================================================

.meta {
    display: inline-block;
    font-weight: bold;
    font-size: ms(0);
    padding-bottom: spacing(10);

    // Color any element within the meta-title
    &,
    & > a {
        color: palette(grey-mid);
    }

    // Link styling within meta-title
    > a {
        @include link() {
            color: palette(grey-mid);
            text-decoration: none;
        }
        @include link-hover() {
            color: palette(black);
            text-decoration: underline;
        }
    }
}

.meta--block {
    display: block;
}

// 'Highlight' modifier, essentially a more prominant meta, can often paired with standard 'meta' for nice headings etc
.meta--highlight {
    &,
    & > a {
        color: palette(tertiary);
    }

    > a {
        @include link() {
            color: palette(tertiary);
        }
        @include link-hover() {
            color: palette(tertiary);
        }
    }
}
