// ==========================================================================
// Headings Atom
// ==========================================================================

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0 0 1em 0;
    padding: 0;
    color: palette(black);
    font-weight: bold;
}

h1, .h1 {
    font-size: ms(4);

    @include respond-to(medium) {
        font-size: ms(4, $thread: desktop);
    }
}

h2, .h2 {
    font-size: ms(3);

    @include respond-to(medium) {
        font-size: ms(3, $thread: desktop);
    }
}

h3, .h3 {
    font-size: ms(2);

    @include respond-to(medium) {
        font-size: ms(2, $thread: desktop);
    }
}

h4, .h4 {
    font-size: ms(1);

    @include respond-to(medium) {
        font-size: ms(1, $thread: desktop);
    }
}

h5, .h5,
h6, .h6 {
    font-size: ms(0);

    @include respond-to(medium) {
        font-size: ms(0, $thread: desktop);
    }
}


