// ==========================================================================
// Headings Atom
//
//  @TASKIST
// ==========================================================================

// Class selectors for overwrites, for example you may want a <h3> with h1 styling
// <h3 class="h1"></h3>
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin: 0 0 0.35em 0;
    padding: 0;
    color: palette(black);
    line-height: 1.1;
    letter-spacing: 0.25px; // Apply some letter spacing to headings only for legibility
    // font-family: "Courier New", Courier, monospace;
}

h1, .h1 {
    font-size: ms(6);

    @include respond-to(medium) {
        font-size: ms(10, $thread: desktop);
    }
}

h2, .h2 {
    font-size: ms(5);

    @include respond-to(medium) {
        font-size: ms(9, $thread: desktop);
    }
}

h3, .h3 {
    font-size: ms(4);

    @include respond-to(medium) {
        font-size: ms(7, $thread: desktop);
    }
}

h4, .h4 {
    font-size: ms(3);

    @include respond-to(medium) {
        font-size: ms(6, $thread: desktop);
    }
}

h5, .h5,
h6, .h6 {
    font-size: ms(2);

    @include respond-to(medium) {
        font-size: ms(2, $thread: desktop);
    }
}
