// ==========================================================================
// Pill Atom
// ==========================================================================

.pill {
    padding: spacing(2 8);
    line-height: 1.88;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    font-weight: bold;
    // font-family: "HelveticaNeue-CondensedBold", Helvetica, Arial, sans-serif;
    margin: spacing(0 6 0 0);

    @include link() {
        font-size: rem-calc(12);
        background: palette(black);
        color: palette(white);
        display: inline-block;
        text-decoration: none;
        transition: all ease 150ms;
    }

    @include link-hover {
    }
}

.pill--primary {
    @include link() {
        background: palette(primary);
    }
}
