// ==========================================================================
// Logo Atom
// ==========================================================================

.logo {
	text-align: center;
    display: inline-block;
    max-width: rem-calc(100);
    margin: 0 auto;

    @include respond-to(medium) {
        max-width: rem-calc(150);
    }

    svg {
        width: 100%;
        height: auto;
    }
}

.logo--small {
    max-width: rem-calc(75);

    @include respond-to(medium) {
        max-width: rem-calc(95);
    }
}
