// ==========================================================================
// Logo Atom
// ==========================================================================

.logo {
	text-align: center;
    display: inline-block;
    width: rem-calc(65);
    margin: 0 auto;
}
