// ==========================================================================
// Slider Molecule
// ==========================================================================

.m-slider {

}

.m-slider__item {
}

.m-slider__img {
    width: 100%;
}

.m-slider__caption {
    font-size: ms(1);
    font-weight: bold;
}
