// ==========================================================================
// Footer Molecule
// ==========================================================================

.m-footer {
    padding: spacing(20 0);
    background: palette(white);

    @include respond-to(medium) {
    	padding: spacing(25 0);
    }
}
