{#
    Footer Molecule

    @required type name description
#}

<nav class="m-footer">
    <div class="wrapper">
        <div class="g align-v-center">
            <div class="g__col u-trim">
                <h6>{{ heading }}</h6>
            </div>
        </div>
    </div>
</nav>
