<!doctype html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# SEO Title #}
    <title>Vita Training | Victim Identification &amp; Trafficking Awareness</title>

    <meta name="robots" content="all" />
    <link rel="canonical" href="https://vita-training.com" />

    {# SEO Descrption #}
    <meta name="description" content="Bespoke, evidence-based training packages designed to equip healthcare professionals to identify, support and refer potential victims of modern-day slavery, whilst acting safely and appropriately during a consultation.">

    {# Facebook / OG Meta #}
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_gb" />
    <meta property="og:url" content="https://vita-training.com" />
    <meta property="og:title" content="Vita Training | Victim Identification &amp; Trafficking Awareness" />
    <meta property="og:description" content="Bespoke, evidence-based training packages designed to equip healthcare professionals to identify, support and refer potential victims of modern-day slavery, whilst acting safely and appropriately during a consultation." />
    <meta property="og:site_name" content="Vita Training" />

    {# Twitter Meta #}
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Vita Training | Victim Identification &amp; Trafficking Awareness" />
    <meta name="twitter:description" content="Bespoke, evidence-based training packages designed to equip healthcare professionals to identify, support and refer potential victims of modern-day slavery, whilst acting safely and appropriately during a consultation." />

    <link rel="home" href="https://vita-training.com" />

    {# Load Gongle Fonts #}
    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Cabin:400,400i,600,700' ] }
            };
            (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
            })();
        }());
    </script>

    {# Fontawesome #}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    {# Stylesheets #}
    <link rel="stylesheet" href="styles/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head %}
    {% endblock %}
  </head>
  <body>
    {% block header %}
        {% include 'includes/header.html' %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% include 'includes/footer.html' %}

    {% block javascript %}
      <script src="js/main.js"></script>
    {% endblock %}
  </body>
</html>
