// ==========================================================================
// Horizontal Rule Atom
// ==========================================================================

hr, .hr {
    border-top: rem-calc(1) solid palette(grey);
    border-bottom: 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin: spacing(double 0);

    @include respond-to(medium) {
        margin: spacing(quad 0);

    }
}

.hr--small {
    margin: spacing(11 0);

    @include respond-to(medium) {
		margin: spacing(22 0);
    }
}
