// ==========================================================================
// Horizontal Rule Atom
// ==========================================================================

hr {
    border-top: 1px solid tint(palette(grey), 'darken', 1);
    border-bottom: 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
