// ==========================================================================
// Lists Atom
// ==========================================================================

// The base list styles
%list-base {
    margin: spacing(0 0 25 25);
    // list-style: none;
    line-height: 1.44;
    font-size: ms(0);
    padding-left: 0;
    list-style-type: square;

    @include respond-to(medium) {
        font-size: ms(0, $thread: desktop);
    }

    li {
        margin-bottom: 0.25em;
    }
}

@mixin list--bullet {
    // Extend the base list styles set above
    @extend %list-base;
    list-style-position: outside;

    li {
        padding-left: rem-calc(5);
        position: relative;
    }
}

@mixin list--numbered {
    @extend %list-base;
    counter-reset: list;
    list-style-type: decimal;

    li {
        padding-left: rem-calc(15);
        position: relative;
    }

    ol {
        // Reset the counter for nested ol's
        counter-reset: list;
    }
}

ul {
    @include list--bullet;
}

.list--fancy {
    padding-left: 0;
    list-style: none;
    margin-left: 0;

    li {
        &:before {
            content: "▶";
            display: inline-block;
            margin-right: spacing(10);
            font-size: rem-calc(10);
            color: palette(primary);
            text-decoration: none;
        }
    }
}

// Declare the numbered list styling on both the modifier class and globally to all ol's
ol {
    @include list--numbered;
}

.list--unstyled {
    list-style: none;
    padding-left: 0;
    margin-left: 0;

    li {
        padding-left: 0;
        margin-left: none;
    }
}
