// ==========================================================================
// Links Atom
// ==========================================================================
.link {
    // Size swapped to desktop thread at medium +
    @include respond-to(medium) {
        font-size: ms(0, $thread: desktop);
    }

    // Default link uses the primary palette
    @include link() {
        text-decoration: underline;
        color: palette(black);
        transition: all ease 250ms;
        padding-bottom: spacing(3);
    }

    @include link-hover() {
        color: palette(primary);
    }

    &:focus {
        outline: 1px dotted palette(grey-mid);
    }

    &:active {
        outline: none;
    }
}

// Add primary styling for a 'primary' modifier
.link--primary {
    @include link() {
        color: palette(primary);
    }
    @include link-hover() {
        color: tint(palette(primary), 'darken');
    }
}

// Add secondary styling for a 'primary' modifier
.link--secondary {
    @include link() {
        color: palette(secondary);
    }
    @include link-hover() {
        color: palette(secondary);
    }
}

// Remove all styling for a 'plain' modifier
.link--plain {
    @include link() {
        border-bottom: none;
    }
    @include link-hover() {
        border-bottom: none;
        text-decoration: none;
        text-decoration-skip: none;
        color: currentColor;
    }
}

.link--bold {
    @include link() {
        font-weight: 700;
    }
}

// Block display modifier
.link--block {
    display: block;
}

.link--large {
    @include respond-to(medium) {
        font-size: ms(1, $thread: desktop);
    }
}
