// ==========================================================================
// Stat Block Molecule
// ==========================================================================

.m-stat-block {
    position: relative;
    background: palette(secondary);
    padding: spacing(20);
    overflow: hidden;
    height: 100%;
    display: block;

    @include link() {
        text-decoration: none;
    }

    @include respond-to(medium) {
        padding: spacing(30);
    }

    @include respond-to(large) {
        min-height: rem-calc(250);
    }
}

a.m-stat-block {
    @include link() {
        padding: spacing(30 75 30 30);
        &:after {
            position: absolute;
            bottom: 0;
            right: 0;
            width: rem-calc(50);
            height: rem-calc(50);
            background: white;
            z-index: 0;
            content: "▶";
            color: palette(secondary);
            text-align: center;
            display: flex;
            align-items: center;
            font-weight: bold;
            justify-content: center;
            font-size: rem-calc(13);
            transition: all ease 250ms;
        }
    }

    @include link-hover() {
        &:after {
            opacity: 0.4;
        }
    }
}

.m-stat-block__heading {
    font-size: ms(5);

    @include respond-to(medium) {
        font-size: ms(7, $thread: desktop);
    }
}

.m-stat-block__message {
    @include respond-to(medium) {
        font-size: ms(1, $thread: desktop);
    }
}

.m-stat-block__inner {
    position: relative;
    z-index: 1;
}

.m-stat-block__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: rem-calc(250);
    height: rem-calc(250);
    z-index: 0;
}
