// ==========================================================================
// Select Form Atom
// ==========================================================================

.select {
    @include input-base;
    background: #eeeff0;
    border-color: #eeeff0;

    &:focus {
        border-color: palette(grey-mid);
    }

    &::-ms-expand {
        display: none;
    }
}

// The wrapping class for the select
.select__wrapper {
    display: inline-block;
    position: relative;
    background-color: white;
    overflow: hidden;
    vertical-align: middle;
    width: 100%;
}

// The dropdown chevron to indicate that this has more content
.select__icon {
    pointer-events: none;
    position: absolute;
    z-index: 1;
    right: rem-calc(20);
    top: rem-calc(22);
    font-size: rem-calc(8);
}
