<div class="m-footer wrapper wrapper--wide">
    <div class="wrapper wrapper--thin">
        <div class="g align-v-center">
            <div class="g__col g__col-6 g__col-4@medium u-trim">
                <a class="logo logo--small" href="#">
                    {% include 'includes/logo.html' %}
                </a>
            </div>

            <div class="g__col g__col-6 g__col-8@medium align-right u-text-right">
                    <a href="#" class="btn btn--primary">Email us</a>
            </div>
        </div>

        <hr class="hr--small">

        <div class="g align-v-center">
            <div class="g__col g__col-12 g__col-4@medium u-trim">
                <p class="micro">&copy; VITA Training LTD 2018. All Rights Reserved.</p>
            </div>
            <div class="g__col g__col-12 g__col-8@medium align-right u-text-right@medium p-top--half p-top--reset@medium">
                <a href="#" class="link micro">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>
