<div class="m-footer wrapper wrapper--wide">
    <div class="wrapper wrapper--thin">
        <div class="g align-v-center">
            <div class="g__col g__col-6 g__col-4@medium u-trim">
                <a class="logo logo--small" href="#">
                    {% include 'includes/logo.html' %}
                </a>
            </div>

            <div class="g__col g__col-6 g__col-8@medium align-right u-text-right">
                <div class="btn-group">
                    <a href="mailto:info@vita-training.com" class="btn btn--shrink btn--primary"><i class="fas fa-envelope"></i> <span class="is--hidden is--visible-inline@medium p-left--half">Email us</span></a>
                    <a href="https://twitter.com/VITA_Training" target="_blank" class="btn btn--shrink btn--grey"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.facebook.com/trainingVITA/" target="_blank" class="btn btn--shrink btn--grey"><i class="fab fa-facebook-f"></i></a>
                </div>
            </div>
        </div>

        <hr class="hr--small">

        <div class="g align-v-center">
            <div class="g__col g__col-12 g__col-4@medium u-trim">
                <p class="micro">&copy; VITA Training LTD 2018. All Rights Reserved.</p>
            </div>
            <div class="g__col g__col-12 g__col-8@medium align-right u-text-right@medium p-top--half p-top--reset@medium">
                <a href="privacy-policy.html" class="link micro">Privacy Policy</a>
            </div>
        </div>
    </div>
</div>
