<div class="m-hero">
    <div class="m-header">
        <div class="wrapper wrapper--wide island">
            <div class="wrapper wrapper--thin">
                <div class="g align-v-center">
                    <div class="g__col g__col-6 g__col-4@medium u-trim">
                        <a class="logo" href="#">
                            {% include 'includes/logo.html' %}
                        </a>
                    </div>

                    <div class="g__col g__col-6 g__col-8@medium align-right u-text-right">
                        <div class="is--hidden is--visible@medium">
                            <a href="#" class="btn btn--primary">Email your question to us</a>
                        </div>
                        <div class="is--visible is--hidden@medium">
                            <a href="#" class="btn btn--primary">Email us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper wrapper--thin">
        <div class="g align-v-bottom">
            <div class="g__col g__col-12 g__col-7@medium g__col-8@large p-top--triple p-top--oct@medium p-top--quint@large p-bottom p-bottom--oct@medium u-inverse p-right--oct@medium">
                <h3 class="m-hero__subheading">Training for healthcare professionals</h3>
                <h1 class="m-hero__heading">Victim Identification and Trafficking Awareness</h1>

                <p class="m-hero__message">Bespoke, evidence-based training packages designed to equip healthcare professionals to identify, support and refer potential victims of modern-day slavery, whilst acting safely and appropriately during a consultation.</p>
            </div>

            <div class="g__col g__col-12 g__col-4@medium align-right u-trim">
                <div class="p-top--double p-top--triple@medium p-bottom p-left p-left--double@medium p-right p-right--double@medium island">
                    <ul class="list list--fancy">
                        <a class="link link--bold link--large" href="#statistics"><li>Statistics</li></a>
                        <a class="link link--bold link--large" href="#about"><li>About our training</li></a>
                        <a class="link link--bold link--large" href="#experts"><li>Our team of experts</li></a>
                        <a class="link link--bold link--large" href="#testimonials"><li>Testimonials</li></a>
                        <a class="link link--bold link--large" href="#testimonials"><li>Publications &amp; Presentations</li></a>
                        <a class="link link--bold link--large" href="#resources"><li>Resources</li></a>
                        <a class="link link--bold link--large" href="#contact"><li>Contact us</li></a>
                        <a class="link link--bold link--large" href="#e-learning"><li>E-learning</li></a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
