<div class="g__col g__col-12 g__col-4@medium">
    <div class="m-stat-block u-inverse">
        <div class="m-stat-block__inner">
            <h2 class="m-stat-block__heading">10,000</h2>
            <p class="m-stat-block__message"><strong>Tens of thousands</strong> of victims of human trafficking are living and working in the UK</p>
        </div>

        <div class="m-stat-block__bg">
            {% include 'includes/logo-mark.html' %}
        </div>
    </div>
</div>

<div class="g__col g__col-12 g__col-4@medium p-top--double p-top--reset@medium">
    <div class="m-stat-block u-inverse">
        <div class="m-stat-block__inner">
            <h2 class="m-stat-block__heading">30%</h2>
            <p class="m-stat-block__message"><strong>30%</strong> of victims present in healthcare services whilst or shortly after their time in slavery</p>
        </div>

        <div class="m-stat-block__bg">
            {% include 'includes/logo-mark.html' %}
        </div>
    </div>
</div>

<div class="g__col g__col-12 g__col-4@medium p-top--double p-top--reset@medium">
    <div class="m-stat-block u-inverse">
        <div class="m-stat-block__inner">
            <h2 class="m-stat-block__heading">1 in 8</h2>
            <p class="m-stat-block__message"><strong>1 in 8</strong> healthcare professionals reported previous contact with a patient they knew or suspected of having been trafficked</p>
        </div>

        <div class="m-stat-block__bg">
            {% include 'includes/logo-mark.html' %}
        </div>
    </div>
</div>

<div class="g__col g__col-12 g__col-4@medium p-top--double">
    <div class="m-stat-block u-inverse">
        <div class="m-stat-block__inner">
            <h2 class="m-stat-block__heading">8 in 10</h2>
            <p class="m-stat-block__message"><strong>8 in 10</strong> felt they hadn’t had enough training</p>
        </div>

        <div class="m-stat-block__bg">
            {% include 'includes/logo-mark.html' %}
        </div>
    </div>
    </div>

    <div class="g__col g__col-12 g__col-4@medium p-top--double">
        <div class="m-stat-block u-inverse">
            <div class="m-stat-block__inner">
                <h2 class="m-stat-block__heading">95%</h2>
                <p class="m-stat-block__message"><strong>95%</strong> were unaware of the scale of trafficking in the UK</p>
            </div>

            <div class="m-stat-block__bg">
                {% include 'includes/logo-mark.html' %}
            </div>
        </div>
    </div>

    <div class="g__col g__col-12 g__col-4@medium p-top--double">
        <a href="#about" class="m-stat-block u-inverse">
            <div class="m-stat-block__inner">
                <h2 class="m-stat-block__heading">Need training?</h2>
                <p class="m-stat-block__message">Request a booking from our experts that can help you and your team </p>
            </div>

            <div class="m-stat-block__bg">
                {% include 'includes/logo-mark.html' %}
            </div>
        </a>
    </div>
