// ==========================================================================
// Close Atom
// ==========================================================================

.close {
    display: block;
    position: relative;
    width: rem-calc(50);
    height: rem-calc(50);
}

// Create the two lines that make up the close icon
.close:before, .close:after {
    position: absolute;
    left: 45%;
    top: 17%;
    content: ' ';
    height: rem-calc(30);
    width: rem-calc(2);
    background-color: palette(black);
}

// Rotate the lines to form a cross
.close:before {
    transform: rotate(45deg);
}

// Rotate the lines to form a cross
.close:after {
    transform: rotate(-45deg);
}

.close:hover {
    &:before, &:after {
        background-color: palette(primary);
    }
}

// Small modifier halves the size of the close icon
.close--small {
    width: rem-calc(25);
    height: rem-calc(25);
}

.close--small:before, .close--small:after {
    position: absolute;
    left: 45%;
    top: 17%;
    content: ' ';
    height: rem-calc(16);
    width: rem-calc(2);
    background-color: palette(black);
}
