// ==========================================================================
// Header Molecule
// ==========================================================================

.m-header {
    padding: spacing(40 0);
    background: palette(grey-light);

    @include respond-to(medium) {
    	padding: spacing(60 0);
    }
}
