// ==========================================================================
// Header Molecule
// ==========================================================================

.m-header {
    .wrapper--wide {
        padding-top: spacing(20);
        padding-bottom: spacing(20);
        background: palette(white);

        @include respond-to(medium) {
            padding-top: spacing(25);
            padding-bottom: spacing(25);
        }
    }
}
