{#
    Header Molecule

    @required type name description
#}

<nav class="m-header">
    <div class="wrapper">
        <div class="g align-v-center">
            <div class="g__col g__col-12 u-trim">
                <h6>{{ heading }}</h6>
            </div>
        </div>
    </div>
</nav>
