// ==========================================================================
// Blockquote Atom
// ==========================================================================

blockquote {
    text-align: left;
    color: palette(black);
    font-weight: normal;
    font-style: italic;
    border-left: 14px solid palette(grey-light);
    padding-left: spacing(15);
    margin-left: 0;
    margin-right: 0;

    @include respond-to(medium) {
        border-left: 19px solid palette(grey-light);
        padding-left: spacing(30);
    }

    p {
        font-size: ms(2);

        @include respond-to(medium) {
            font-size: ms(3, $thread: desktop);
        }
    }

    cite, .cite {
        display: block;
        width: 100%;
        margin-top: spacing(20);

        @include respond-to(medium) {
            margin-top: spacing(30);
        }
    }
}
