// ==========================================================================
// Blockquote Atom
// ==========================================================================

blockquote {
    text-align: center;
    margin: spacing(35 0);
    padding: spacing(25 0);
    color: palette(black);
    line-height: 1.44;
    // font-family: "HelveticaNeue-CondensedBold", Helvetica, Arial, sans-serif;
    font-size: ms(3);
    font-weight: bold;
    border-top: 1px solid palette(grey);
    border-bottom: 1px solid palette(grey);

    em {
        font-style: normal;
        // font-family: "HelveticaNeue-CondensedBold", Helvetica, Arial, sans-serif;
    }

    @include respond-to(medium) {
        margin: spacing(55 0);
        padding: spacing(35 0);
        font-size: ms(4, $thread: desktop);
    }

    @include respond-to(large) {
        margin: spacing(65 0);
        padding: spacing(40 0);
        font-size: ms(6, $thread: desktop);
    }

    cite, .cite {
        display: block;
        width: 100%;
        margin-top: spacing(20);

        @include respond-to(medium) {
            margin-top: spacing(30);
        }
    }
}
