{% render '@header' %}

<div class="wrapper p-top--double p-top--quad@medium p-bottom--double p-bottom--triple@medium">
    <h1>Page Heading</h1>
    {% render '@meta--highlight' %}

    {% render '@lede' %}
    <div class="p-top p-top--double@medium">
        {% render '@btn-group--with-caption' %}
    </div>

    <div class="p-top--double">
        {% render '@hr' %}
    </div>
</div>

<div class="wrapper">
    <div class="g p-top--double">
        <section class="g__col g__col-12 g__col-8@medium">
            <div class="g">
                <div class="g__col g__col-12 g__col-10@medium">
                    <h3>Main Section</h3>

                    {% render '@lede' %}
                    {% render '@list' %}
                    {% render '@btn--small' %}

                    <div class="p-top--double p-top--quad@medium">
                        {% render '@paragraph' %}
                    </div>

                    <div class="p-top--double">
                        {% render '@callout' %}
                    </div>

                    <div class="p-top--double p-top--quad@medium">
                        <h4>Something</h4>
                        {% render '@meta' %}
                        {% render '@paragraph' %}
                        {% render '@link--bold' %}

                        <div class="p-top--double p-top--triple@medium">
                            {% render '@paragraph' with { message: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco." } %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <aside class="g__col g__col-4@medium">
            <h3>Sidebar</h3>

            {% render '@paragraph' with { message: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco." } %}
            {% render '@list' with { tag: "ol" } %}
            {% render '@link--bold' %}
            {% render '@blockquote' %}

        </aside>
    </div>
</div>

<div class="wrapper p-top--double p-top--quad@medium p-bottom--double p-bottom--quad@medium">
    {% render '@blockquote' %}
</div>

<div class="wrapper">
    <div class="g p-top--double p-top--quad@medium p-bottom--double p-bottom--quad@medium">
        <div class="g__col g__col-12 g__col-auto@medium">
            <h5>CTA One</h5>
            <div class="p-bottom">
                {% render '@pill' %}
            </div>
            {% render '@meta--highlight' %}
            {% render '@paragraph' with { message: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."} %}
            {% render '@btn--small' %}
        </div>
        <div class="g__col g__col-12 g__col-auto@medium p-top--triple p-top--reset@medium">
            <h5>CTA Two</h5>
            <div class="p-bottom">
                {% render '@pill' %}
            </div>
            {% render '@meta--highlight' %}
            {% render '@paragraph' with { message: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."} %}
            {% render '@btn--small' %}
        </div>
    </div>
    {% render '@hr' %}
</div>

<div class="wrapper">
    <div class="g p-top--double p-top--quad@medium p-bottom--quad">
        <div class="g__col g__col-12 g__col-auto@medium">
            <h5>CTA One</h5>
            <div class="p-bottom">
                {% render '@pill' %}
            </div>
            {% render '@meta--highlight' %}
            {% render '@paragraph' with { message: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."} %}
            {% render '@btn--small' %}
        </div>
        <div class="g__col g__col-12 g__col-auto@medium p-top--triple p-top--reset@medium">
            <h5>CTA Two</h5>
            <div class="p-bottom">
                {% render '@pill' %}
            </div>
            {% render '@meta--highlight' %}
            {% render '@paragraph' with { message: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."} %}
            {% render '@btn--small' %}
        </div>
        <div class="g__col g__col-12 g__col-auto@medium p-top--triple p-top--reset@medium">
            <h5>CTA Three</h5>
            <div class="p-bottom">
                {% render '@pill' %}
            </div>
            {% render '@meta--highlight' %}
            {% render '@paragraph' with { message: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."} %}
            {% render '@btn--small' %}
        </div>
    </div>
    {% render '@hr' %}
</div>

<div class="wrapper">
    <div class="p-top--double">
        <h3>Full Width Section</h3>

        {% render '@lede' %}
        {% render '@list' %}
        {% render '@btn--small' %}

        <div class="p-top--double p-bottom--quad">
            {% render '@callout' %}
        </div>

        <h4>A Table Example</h4>
        {% render '@paragraph' %}
        <div class="p-bottom--double p-bottom--quad@medium">
            {% render '@table' %}
        </div>
    </div>
</div>

{% render '@island--primary' with {
    innerWrap: true,
    padding: "p-top--double p-top--quad@medium p-bottom--double p-bottom--quad@medium",
    title: "Primary Island Example",
    message: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
} %}

{% render '@island--secondary' with {
    innerWrap: true,
    padding: "p-top--double p-top--quad@medium p-bottom--double p-bottom--quad@medium",
    title: "Secondary Island Example",
    message: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
} %}

{% render '@footer' %}
