{% extends 'layouts/application.html' %}

{% block content %}
    {# Stat Blocks #}
    <section class="wrapper wrapper--thin" id="statistics">
        <div class="g p-top--triple p-top--quint@medium p-bottom--double p-bottom--quint@medium">
            {% include 'includes/stat-blocks.html' %}
        </div>
    </section>

    {# About #}
    <section class="island--cover island--secondary p-top--max@xlarge p-bottom--max@xlarge" id="about">
        <div class="island--inner-image" style="background-image: url('images/background1.jpg');"></div>
        <div class="wrapper island">
            <div class="wrapper wrapper--thin">

                <img class="is--visible is--hidden@xlarge p-top p-top--reset@medium" src="images/background1.jpg" />

                <div class="g p-top--triple p-top--oct@medium">

                    <div class="g__col g__col-12">
                        <div class="g">
                            <div class="g__col g__col-12 g__col-6@medium">
                                <div class="g">
                                    <div class="g__col g__col-12 g__col-11@medium">

                                        <h2 class="h--underlined">About our training</h2>

                                        <p class="lede p-top--double"><strong>Victims of modern slavery are presenting in healthcare settings and are not receiving the safeguarding and care they need.</strong></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="g__col g__col-12 g__col-6@medium">
                        <div class="g">
                            <div class="g__col g__col-12 g__col-11@medium">
                                <p>The solution is not just about raising awareness. VITA training aims to improve identification, support and care for victims by equipping healthcare professionals to know what to do. It delivers practical, user-friendly, evidence-based guidance.</p>

                                <p>This training has been created and refined by doctors, who regularly apply the techniques and skills they teach during their own clinical practice.</p>
                            </div>
                        </div>
                    </div>

                    <div class="g__col g__col-12 g__col-6@medium">
                        <div class="g">
                            <div class="g__col g__col-12 g__col-11@medium">
                                <p><strong>More than 1000 healthcare professionals</strong> have attended VITA training. Our training has been shown to improve trainees knowledge and confidence particularly in identification, conducting the consultation and referral.</p>

                                <p>Bespoke tailored training is available for NHS Foundation Trusts, General Practices, healthcare professional trainee programmes and other health services.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="g p-top--double p-top--quad@medium p-bottom--triple p-bottom--oct@medium">
                    <div class="g__col g__col-12 g__col-6@medium">
                        <div class="g">
                            <div class="g__col g__col-12 g__col-11@medium">
                                <h3 class="h--underlined">Training packages</h3>

                                <h4 class="p-top--double">Training presentation</h4>
                                <ul>
                                    <li>Unlimited group sizes. </li>
                                    <li>1 or 2 hours presentation lengths</li>
                                </ul>

                                <h4 class="p-top">Simulation training</h4>
                                <ul>
                                    <li>The above presentation with simulated consultations</li>
                                    <li>Minimum of 5 trainees required, maximum of 40</li>
                                    <li>Approximately 1 facilitator required for every 5 trainees</li>
                                    <li>Actors and facilitators provided</li>
                                </ul>

                                <h4 class="p-top">Training with video scenarios</h4>
                                <ul>
                                    <li>The above training presentation with video scenarios</li>
                                    <li>Unlimited group sizes</li>
                                    <li>Facilitators optional</li>
                                </ul>

                                <h4 class="p-top">Hand-out document</h4>
                                <ul>
                                    <li>For all VITA Trainees</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="g__col g__col-12 g__col-6@medium">
                        <h3 class="h--underlined">Request a booking</h3>

                        <div class="p-top--double">
                            {# @todo Form here #}

                            <form name="contact" method="POST" netlify>
                                <div class="g">
                                    <div class="g__col g__col-12 g__col-6@medium">
                                        <input class="input" type="text" id="name" name="name" placeholder="Name">
                                        <input class="input" type="text" id="organisation" name="organisation" placeholder="Organisation">

                                        <div class="select__wrapper">
                                            <select class="select" name="trainingPackage[]">
                                                <option value="None specified">Preferred training package</option>
                                                <option value="Training presentation">Training presentation</option>
                                                <option value="Simulation training">Simulation training</option>
                                                <option value="Training with video scenarios">Training with video scenarios</option>
                                            </select>

                                            <span class="select__icon">▼</span>
                                        </div>
                                    </div>

                                    <div class="g__col g__col-12 g__col-6@medium">
                                        <input class="input" type="email" id="mail" name="email" placeholder="Email Address">

                                        <input class="input" type="text" id="postcode" name="postcode" placeholder="Postcode">

                                        <div class="select__wrapper">
                                            <select class="select" name="numberOfTrainees[]">
                                                <option value="None specified">Number of trainees</option>
                                                <option value="1-5">1-5</option>
                                                <option value="5-10">5-10</option>
                                                <option value="10-20">10-20</option>
                                                <option value="20-30">20-30</option>
                                                <option value="30+">30+</option>
                                            </select>

                                            <span class="select__icon">▼</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="p-top">
                                    <div class="u-trim">
                                        <p class="lede p-bottom--half"><strong>Preferred training dates</strong></p>
                                    </div>

                                    <textarea class="input input--no-pad" name="textarea" rows="10">Let us know what dates work for you</textarea>

                                    <p class="micro p-top--half">Enter specific dates or even just a preferred month</p>
                                </div>

                                <div class="p-top">
                                    <div data-netlify-recaptcha class="p-bottom--double"></div>

                                    <button type="submit" href="#" class="btn btn--primary">Send request</button>

                                    <div class="u-trim p-top--half">
                                        <p class="micro">We aim to respond within 2 working days. For information on how we use your data, please review our <a class="link link--primary micro" href="privacy-policy.html">privacy policy</a>.</p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# Experts #}
    <section class="island island--grey p-top--quad p-top--quint@medium p-top--max@xlarge p-bottom--quad p-bottom--quint@medium p-bottom--max@xlarge" id="experts">
        <div class="wrapper wrapper--thin">
            <h2 class="h--underlined">Our team of experts</h2>

            <div class="g p-top--double p-top--quad@medium">
                <div class="g__col g__col-12 g__col-4@large">

                    <img class="avatar" src="images/rosie.jpg" alt="Dr Rosie Riley" />

                    <h4>Dr Rosie Riley BSc MBChB</h4>

                    <p class="lede">Founder, CEO and Trainer of VITA Training.<br/>NHS England Clinical Entrepreneur.<br/>Junior Clinical Fellow in Emergency Medicine</p>

                    <p>Rosie works as doctor at a teaching hospital in London. She graduated with a medical degree and a BSc in Global Health from the University of Bristol. During 3rd year, she developed VITA Training and delivered it initially in a GP setting. Her results have been included in a Department of Health-commissioned systematic review and she has advised development of national multi-agency training materials on trafficking for NHS England in 2016. She is now a Clinical Entrepreneur for NHS England.</p>

                    <span class="micro u-text-color-primary">▶ </span><a href="https://www.linkedin.com/in/dr-rosie-riley-024451165/" target="_blank" class="link link--primary link--bold">Connect on Linkedin</a>
                </div>

                <div class="g__col g__col-12 g__col-4@large p-top--quad p-top--reset@large">

                    <img class="avatar" src="images/toby.jpg" alt="Dr Toby Bonvoisin" />

                    <h4>Dr Toby Bonvoisin MBChB</h4>

                    <p class="lede">Co-founder and Trainer of VITA Training.<br/>Academic Foundation Doctor</p>

                    <p>Toby works as a doctor in Hull, East Yorkshire. He has been part of the VITA team since 2016, providing training to hundreds of healthcare professionals in midwifery, emergency medicine, general practice and other disciplines. He has also been a fully trained volunteer First Responder for the Salvation Army since March 2017, a role which involves interviewing potential victims of trafficking for entry into the Home Office's National Referral Mechanism.
                    </p>

                    <span class="micro u-text-color-primary">▶ </span><a href="https://www.linkedin.com/in/tobytb/" target="_blank" class="link link--primary link--bold">Connect on Linkedin</a>
                </div>

                <div class="g__col g__col-12 g__col-4@large p-top--quad p-top--reset@large">

                    <img class="avatar" src="images/user.jpg" alt="Dr Lucy Williams" />

                    <h4>Dr Lucy Williams BSc MBChB</h4>

                    <p class="lede">Developer of VITA e-learning.<br/>Junior Clinical Fellow</p>

                    <p>Lucy works as a doctor at a teaching hospital in London. She graduated with a medical degree and a BSc in Global Health from the University of Bristol, where she wrote a thesis on human trafficking. She has also written a featured article for Student BMJ about training for medical students and advocates for inclusion of this subject in undergraduate training. She is instrumental in delivering the e-learning modules for VITA Training.</p>
                </div>
            </div>
        </div>
    </section>

    {# Testimonials #}
    <section class="p-top--quad p-top--quint@medium p-top--max@xlarge p-bottom--quad p-bottom--quint@medium p-bottom--max@xlarge" id="testimonials">
        <div class="wrapper wrapper--thin">
            <h2 class="h--underlined">Testimonials</h2>

            <div class="g p-top--double">
                <div class="g__col g__col-12 g__col-6@medium">
                    <blockquote>
                        <p>I felt more confident dealing with (a case of a patient being identified as trafficked) following the training because I had greater understanding of the situations people who have been trafficked have to deal with; previous life situations, reasons for coming to UK and the reality of the situations they find themselves in compared to hopes and dreams they may have had, how frightened and vulnerable they must feel.</p>

                        <cite>— Practice nurse, General Practice</cite>
                    </blockquote>
                </div>

                <aside class="g__col g__col-12 g__col-5@medium align-right p-top--triple p-top--reset@medium">
                    <div class="island island--grey-light p-top--triple p-bottom--triple p-left--triple p-right--triple p-top--quad@medium p-bottom--quad@medium p-left--quad@medium p-right--quad@medium">
                        <h4>Publications</h4>
                        <p>Red flags acronym cited in article in student <a href="http://student.bmj.com/student/view-article.html?id=sbmj.i6077#ref22" target="_blank" class="link link--primary link--bold">British Medical Journal</a> <br/><em>2nd February 2017</em></p>

                        <p>Letter of the week in the <a href="https://www.bmj.com/content/357/bmj.j2671.full" target="_blank" class="link link--primary link--bold">British Medical Journal</a> <br/><em>1st June 2017</em></p>

                        <h4 class="p-top p-top--double@medium">Presentations</h4>

                        <p>Poster presentation at South West Obstetrics and Gynaecology regional conference 2015<br/>
                        PROTECT Stakeholders Workshop on Human Trafficking, Royal College of Psychiatrists 2015<br/>
                        Poster presentation at Research in Progress, Royal Society of Tropical Medicine and Hygiene 2015<br/>
                        Poster presentation at Yorkshire Student Royal College of General Practice conference 2015 <br/>
                        Oral presentation and workshop at Medsin National Conference 2016<br/>
                        Poster and oral presentation at Royal College of General Practice <br/>Annual Primary Care conference and exhibition 2017</p>
                    </div>
                </aside>
            </div>
        </div>

        <div class="wrapper wrapper--thin p-top--quad p-top--quint@medium">
            <div class="g align-center align-v-center">
                <div class="g__col g__col-12 g__col-6@medium u-text-center">
                    <div class="g align-v-center@xlarge">
                        <div class="g__col g__col-4">
                            <img src="images/best-poster.jpg" alt="Best Poster" style="max-width: 150px; width: 100%;" />
                        </div>
                        <div class="g__col g__col-8 u-text-left">
                            <h4>Best poster in Education category</h4>
                            <div class="u-trim">
                                <p class="micro">Royal College of General Practice Annual Primary Care conference and exhibition 2017</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="g__col g__col-12 g__col-6@medium u-text-center p-top--double p-top--reset@medium">
                    <div class="g align-v-center@xlarge">
                        <div class="g__col g__col-4">
                            <img src="images/nhs-logo.png" alt="Best Poster" style="max-width: 150px; width: 100%;" />
                        </div>
                        <div class="g__col g__col-8 u-text-left">
                            <h4>Rosie Riley</h4>
                            <div class="u-trim">
                                <p class="micro">NHS England Clinical Entrepreneur</p>
                            </div>
                        </div>
                    </div>
                </div>

                {# <div class="g__col g__col-12 g__col-auto@medium u-text-center p-top--triple p-top--reset@medium">
                    <img src="images/nhs-logo.png" alt="NHS England Logo" style="max-width: 150px;"/>
                </div> #}
                {# <div class="g__col g__col-12 g__col-auto@medium u-text-center p-top--triple p-top--reset@medium">
                    <img src="images/unseen-logo.jpg" alt="Unseen Logo" style="max-width: 160px;"/>
                </div> #}
            </div>
        </div>
    </section>

    {# Resources #}
    <section class="p-top--quad p-top--quint@medium p-top--max@xlarge p-bottom--quad p-bottom--quint@medium p-bottom--max@xlarge island island--grey wrapper wrapper--wide" id="resources">
        <div class="wrapper wrapper--thin">
            <h2 class="h--underlined">Resources</h2>

            <div class="g">
                <div class="g__col g__col-12 g__col-4@medium p-top--double">
                    <a href="https://bmjopen.bmj.com/content/5/8/e008682" target="_blank" class="link link--primary link--bold">Human trafficking and health: a cross-sectional survey of NHS professionals’ contact with victims of human trafficking.</a>
                    <p>Ross C, Dimitrova S, Howard LM, et al, 2015</p>
                </div>
                <div class="g__col g__col-12 g__col-4@medium p-top--double">
                    <a href="http://www.ilo.org/wcmsp5/groups/public/---dgreports/---dcomm/documents/publication/wcms_575479.pdf" target="_blank" class="link link--primary link--bold">Global Estimates of Modern Slavery: forced labour and forced marriage.</a>
                    <p>International Labour Office and Walk Free Foundation in partnership with International Organization for Migration, 2017</p>
                </div>
                <div class="g__col g__col-12 g__col-4@medium p-top--double">
                    <a href="http://publications.iom.int/system/files/pdf/ct_handbook.pdf" target="_blank" class="link link--primary link--bold">Caring For Trafficked Persons: guidance for health providers.</a>
                    <p>International Organization for Migration, Global Initiative to Fight Human Trafficking and London School of Hygiene & Tropical Medicine, 2009</p>
                </div>
                <div class="g__col g__col-12 g__col-4@medium p-top--double">
                    <a href="http://www.nationalcrimeagency.gov.uk/publications/national-referral-mechanism-statistics/2017-nrm-statistics/884-nrm-annual-report-2017/file" target="_blank" class="link link--primary link--bold">Modern Slavery and Human Trafficking: National Referral Mechanism Statistics.</a>
                    <p>National Crime Agency, End of Year Summary 2017</p>
                </div>
            </div>
        </div>
    </section>

    {# Contact Us #}
    <section class="p-top--quad p-top--quint@medium p-top--max@xlarge p-bottom--quad p-bottom--quint@medium p-bottom--max@xlarge" id="contact">
        <div class="wrapper wrapper--thin">
            <h2 class="h--underlined">Contact Us</h2>

            <div class="g">
                <div class="g__col g__col-12 g__col-4@medium">
                    <p class="lede">For more information or to see how you can get involved, contact the VITA team.</p>
                </div>

                <div class="g__col g__col-12 g__col-6@medium align-right u-text-right@medium">
                        <div class="btn-group">
                            <a href="mailto:info@vita-training.com" class="btn btn--shrink btn--primary"><i class="fas fa-envelope"></i> <span class="is--hidden is--visible-inline@medium p-left--half">Email us</span></a>
                            <a href="https://twitter.com/VITA_Training" target="_blank" class="btn btn--shrink btn--grey"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/trainingVITA/" target="_blank" class="btn btn--shrink btn--grey"><i class="fab fa-facebook-f"></i></a>
                        </div>
                </div>
            </div>
        </div>
    </section>

    {# E-Learning #}
    <section class="island--cover island--secondary p-top--max@xlarge p-bottom--max@xlarge" id="e-learning">
        <div class="island--inner-image" style="background-image: url('images/background2.jpg');"></div>
        <div class="wrapper island">
            <div class="wrapper wrapper--thin">

                <img class="is--visible is--hidden@xlarge p-top p-top--reset@medium" src="images/background2.jpg" />

                <div class="g p-top--triple p-top--oct@medium">
                    <div class="g__col g__col-12 g__col-6@medium">
                        <div class="g">
                            <div class="g__col g__col-12 g__col-11@medium">
                                <img class="img--full is--hidden is--visible@medium" src="images/e-learning.jpg" alt="E-Learning" />
                            </div>
                        </div>
                    </div>

                    <div class="g__col g__col-12 g__col-6@medium">
                        <div class="g">
                            <div class="g__col g__col-12 g__col-11@medium">
                                <span class="meta meta--highlight">Coming soon</span>
                                <h2 class="h--underlined">E-learning</h2>

                                <div class="p-top--double">
                                    <p>We are in the process of creating our online e-learning module. This module will be a useful training resource both alone and as part of our training packages. Via an interactive format, VITA e-learning re-enforces material delivered in the training presentation and simulation.</p>

                                    <p>The module includes a virtual clinic, allowing trainees to put their consultation skills into practice. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="g p-top--triple p-top--oct@medium p-bottom--double">
                    <div class="g__col g__col-12 g__col-6@medium">
                        <h3 class="h--underlined">Register interest in our e-learning module</h3>
                    </div>
                </div>

                {# @todo make this work #}
                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="https://vita-training.us19.list-manage.com/subscribe/post?u=8b0a7b8aafb0592e2bf656f87&amp;id=63410af10b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                        <div class="g p-bottom--oct@medium p-bottom--quad">
                            <div class="g__col g__col-12 g__col-6@medium">
                                <div class="g">
                                    <div class="g__col g__col-12 g__col-11@medium">

                                        <div id="mc_embed_signup_scroll">
                                            <div class="mc-field-group">
                                                <input type="email" value="" name="EMAIL" class="input required email" id="mce-EMAIL" placeholder="Email Address...">
                                            </div>
                                            <div class="mc-field-group">
                                                <input type="text" value="" name="FNAME" class="input" id="mce-FNAME" placeholder="First Name">
                                            </div>
                                            <div class="mc-field-group">
                                                <input type="text" value="" name="LNAME" class="input" id="mce-LNAME" placeholder="Second Name">
                                            </div>
                                            <div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response" style="display:none"></div>
                                                <div class="response" id="mce-success-response" style="display:none"></div>
                                            </div>
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                <input type="text" name="b_8b0a7b8aafb0592e2bf656f87_63410af10b" tabindex="-1" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="g__col g__col-12 g__col-6@medium">
                                <div class="g">
                                    <div class="g__col g__col-12 g__col-11@medium">
                                        <p class="micro">By clicking the ‘Register’ button, you are consenting to Vita Training and MailChimp processing your data for the purposes of sending you communications regarding our e-learning module. You may unsubscribe at any time. We are committed to protecting any personal data that you may submit to us. Such personal data is obtained only when voluntarily submitted by you. For more information please review our <a class="link link--primary micro" href="privacy-policy.html">privacy policy</a>.</p>

                                        <div class="clear p-top--half">
                                            <input type="submit" value="Register your interest" name="subscribe" id="mc-embedded-subscribe" class="btn btn--primary">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->

                </div>
            </div>
        </div>
    </section>
{% endblock %}
