// ==========================================================================
// Figure Atom
// ==========================================================================

figure {
    display: block;
    margin: spacing(25 0);
    text-align: center;
    background: palette(grey);
    padding: 0;
    justify-content: center;

    img {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    figcaption {
        display: block;
        padding: spacing(10 0 15 0);
    }
}
