{#
    Flash Message Atom
#}

<!-- Relative added inline for fractal preview (should be removed in production) -->
<div class="flash-message {{ modifier }}" style="position: relative;">
    <div class="wrapper flash-message__inner">
        <div class="flash-message__content">{{ message }}</div>
        <button class="close close--small close--white flash-message__close"></button>
    </div>
</div>
